{% for claim in authprofile.jwt.claims %}
# JWT claim {{ claim.name }} validation for profile "{{ authprofile.name }}"
map $jwt_claim_{{ claim.name }} $jwt_authz_claim_{{ claim.name }}_{{ authprofile.name | replace(" ", "_") }} {
{% for value in claim.value %}
    "{{ value }}"      1;
{% endfor %}
    default   0;
}

{% endfor %}