# Authorization client profile
# Name: {{ authprofile.name }}
# Audience: {{ authprofile.jwt.audience }}
# Issuer: {{ authprofile.jwt.issuer }}
# Scope: {{ authprofile.jwt.scope }}
# Claims: {{ authprofile.jwt.claims }}
