# Any private crt and keys #
############################
#*.crt
#*.key
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log

# Additional dirs #
###################
=======
/.idea/
/venv/
/src/__pycache__/
/src/v5_4/__pycache__/
/src/v5_5/__pycache__/
/contrib/devportal/redocly/src/__pycache__/
