# Any private crt and keys #
############################
*.crt
*.key
*~
\#*

# OS Specific #
###############
Thumbs.db
.DS_Store
.vscode

# Logs #
########
*.log

# Additional dirs #
###################
=======
/.idea/
/src/__pycache__/
/src/v4_2/__pycache__/
/src/v5_0/__pycache__/
/contrib/devportal/redocly/src/__pycache__/
/venv/
