{
    "filter": {
        "request_type": "{{ log.type }}"
    },

    "content": {
        "format": "{{ log.format }}",
        "format_string": "{{ log.format_string }}",
        "max_request_size": "{{ log.max_request_size }}",
        "max_message_size": "{{ log.max_message_size }}"
    }
}
