# Stream server template

    {%- if s.listen %}
    {% if s.listen.address %}

server {
    listen {{ s.listen.address }}{% if s.listen.protocol == "udp" %} {{ s.listen.protocol }}{% endif %};
    status_zone {{ s.name | replace(" ", "_") }};
    {% endif -%}
    {% endif -%}

    {% if s.resolver -%}
    include "{{ ncgconfig.nms.resolver_dir }}/{{ s.resolver | replace(" ", "_") }}.conf";
    {% endif -%}

    {# --- TLS section --- #}
    {%- if s.listen.tls -%}
    {%- if s.listen.tls.certificate -%}
    ssl_certificate {{ ncgconfig.nms.certs_dir }}/{{ s.listen.tls.certificate }}.crt;
    {% endif -%}
    {%- if s.listen.tls.key -%}
    ssl_certificate_key {{ ncgconfig.nms.certs_dir }}/{{ s.listen.tls.key }}.key;
    {% endif -%}
    {% if s.listen.tls.ciphers -%}
    ssl_ciphers {{ s.listen.tls.ciphers }};
    {% endif -%}
    {% if s.listen.tls.protocols -%}
    ssl_protocols{% for p in s.listen.tls.protocols %} {{ p }}{% endfor %};
    {% endif %}
    {% endif %}

    {% if s.upstream -%}
    proxy_pass {{ s.upstream }};
    {% endif %}

    {% if s.snippet and s.snippet.content %}{{ s.snippet.content | b64decode }}{% endif %}

    {%- if s.listen %}
    {%- if s.listen.address %}

}
    {% endif -%}
    {% endif -%}