{% if authprofile.token.type == "bearer" %}
proxy_set_header Authorization "Bearer {{ authprofile.token.token }}";
{% elif authprofile.token.type == "header" %}
proxy_set_header {{ authprofile.token.location }} "{{ authprofile.token.token }}";
{% endif %}