apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: {{ declaration.name }}
  annotations:
    github.com/project-slug: backstage/backstage
    backstage.io/techdocs-ref: dir:.
    lighthouse.com/website-url: https://backstage.io
spec:
  type: openapi
  lifecycle: {{ declaration.lifecycle }}
  owner: {{ declaration.owner }}
  system: {{ declaration.system }}
  definition: |
{% filter indent(width=4) %}
    {{ openAPISchema }}
{% endfilter %}