apiVersion: v1                                       
kind: ConfigMap                                      
metadata:                                            
  name: {{ name }}
data:                                                
    {{ filename }}: |-
    {{ nginxconfig }}