{% for claim in authprofile.jwt.claims %}
auth_jwt_claim_set $authz_match_jwt_claim_{{ claim.name }}_{{ authprofile.name | replace(" ", "_") }} {{ claim.name }};
{% endfor %}

{% for claim in authprofile.jwt.claims %}
# JWT claim {{ claim.name }} validation for profile "{{ authprofile.name }}"
map $authz_match_jwt_claim_{{ claim.name }}_{{ authprofile.name | replace(" ", "_") }} $jwt_authz_claim_{{ claim.name }}_{{ authprofile.name | replace(" ", "_") }} {
{% for value in claim.value %}
    "{{ value }}"      1;
{% endfor %}
    default   0;
}

{% endfor %}