apiVersion: v1                                       
kind: ConfigMap                                      
metadata:                                            
  name: {{ name }}
  {% if namespace -%}
  namespace: {{ namespace }}
  {% endif %}

data:                                                
  {{ filename }}: |-
{% filter indent(width = 4) %}
    {{ nginxconfig }}
{% endfilter %}