auth_jwt "{{ authprofile.jwt.realm }}";
auth_jwt_type {{ authprofile.jwt.jwt_type }};
auth_jwt_key_request /_auth/jwt/{{ authprofile.name | replace(" ", "_") }}/_jwks_uri;
auth_jwt_key_cache {{ authprofile.jwt.cachetime }};